header, footer{
    background-color: lightgray;
    border: solid 1px black;
    font-family: 'Times New Roman', serif;
}
body{
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: darkgreen;
}
html, body{
    padding: 0;
    margin: 0;
}
footer{
    padding: 10px;
    border-radius: 3px;
}
#main{
    border: solid 1px #ccc;
    border-radius: 3px;
    color: :#202020;
    margin: 20px 0;
    padding: 5px;
}

#main label{
    font-weight: bold;
}
#main input[type=text],
#main select{
    width: 150px;
}
#main input[type=submit]{
    border: solid 1px #ccc;
    border-radius: 3px;
    color: :#202020;
    margin: 20px 0;
    padding: 5px;
}
.border-head{
    border: solid 2px #444;
    border-radius: 3px;
}
a{
    color: green;
}
#results{
    padding: 2px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}
.simple-form{
    padding: 2px;
    width: 300px;
    vertical-align: top;
    display: inline-block;
}
.simple-form label{
    font-weight: bold;
}
.simple-form input[type=text],
.simple-form select{
    width: 150px;
}
.simple-form input[type=submit]{
    border: solid 1px #ccc;
    border-radius: 3px;
    color: :#202020;
    margin: 20px 0;
    padding: 5px;
}
.container{
    width: 989px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
}
header nav{
    float: right;
    margin-right: 5px;
}
header nav li{
    display: inline;
    font-size: 12px;
}